{php}
$article_id = input('article_id', 0);
api("Article.Article.gainClicks",['article_id'=>$article_id]);
$article_detail = api("Article.Article.getArticleDetail",['article_id'=>$article_id]);
{/php}
{if condition="$article_detail['code']==0"}
<link rel="stylesheet" href="RESOURCE_PATH/component/view/article_detail/css/article_detail.css?time={:time()}"/>

<div class="rich_media_area_primary clear">
    <h2 class="rich_media_title">{$article_detail['data']['title']}</h2>
    <div class="rich_media_meta_list">
    	{if !empty($article_detail['data']['author'])}
	        <span class="rich_media_meta rich_media_meta_text meta_tag_text">作者：</span>
	        <span class="rich_media_meta rich_media_meta_text">{$article_detail['data']['author']} </span>
        {/if}
        {if !empty($article_detail['data']['create_time'])}
        	<span class="rich_media_meta rich_media_meta_text">发布时间：{:time_to_date($article_detail['data']['create_time'])}</span>
        {/if}
    </div>
    <div class="rich_media_content">{$article_detail['data']['content']}</div>
</div>
{/if}