{extend name="sitehome@style/base"/}
{block name="resources"}
<link rel="stylesheet" href="ADDON_NC_FILE_CSS/file.css">
{/block}
{block name="main"}
<div class="search-wrap layui-form nc-function-search">
	<div class="upload-wrap">
		{:hook("fileUpload", ['type' => 'common', 'file_type' => 'AUDIO','size' => '2000' ], '', true)}
	</div>

	<div class="layui-form-item file-name-wrap">
		<div class="layui-input-inline">
			<input type="text" name="search_file_name" required="" lay-verify="file_name" placeholder="请输入图片名称" autocomplete="off" class="layui-input">
		</div>
		<button class="layui-btn" lay-submit lay-filter="search">搜索</button>
	</div>
	<div class="layui-form-item file-order">
		<label class="layui-form-label">排序</label>
		<div class="layui-input-inline nc-len-short">
			<select id="img_order">
				<option value="create_time desc">创建时间↑</option>
				<option value="create_time asc">创建时间↓</option>
				<option value="file_name desc">图片名称↑</option>
				<option value="file_name asc">图片名称↓</option>
				<option value="size desc">图片大小↑</option>
				<option value="size asc">图片大小↓</option>
			</select>
		</div>
	</div>
</div>

<div style="clear:both;"></div>

<div class="category-list">
   {foreach name="category_list" item="vo" key="k"}
   <div class="category-item {if $k==0}active{/if}">
       <span class="category-name">{$vo.name}</span>
       <span class="category-num">{$vo.num}</span>
       <input type="hidden" value="{$vo.id}" class="category-id"/>
	   <input type="hidden" value="{$vo.is_default}" name="is_default">
   </div>
   {/foreach}
   <div class="category-menu">
        <button class="layui-btn layui-btn-sm" onclick="addGroup()">添加分组</button>
   </div>
	
</div>

<div class="attachment-container">
     <div class="layui-form" >
		<div class="layui-form-item">
			<span class="group_name"></span>
			<span id="operation">
				<span class="rename" onclick="updateGroup()">重命名 </span>
				<span class="delete_packet" onclick="deletePacket()">删除分组</span>
			</span>
		</div>
	</div>
    
	<div class="layui-form action-bar">
		<div class="layui-form-item">
		     <input type="checkbox" lay-skin="primary" title="全选" lay-filter="allChoose" >
     	</div>
	</div>
	
	<div class="layui-row" id="t_customerInfo" style="margin: 0 0 0 -20px;"></div>

	<div>
		<button class="layui-btn layui-btn-primary layui-btn-sm" onclick="groupingAll()">修改分组</button>
		<button class="layui-btn layui-btn-primary layui-btn-sm" onclick="deleteAll()">删除</button>
		<div id="paged" class="page" style="float:right"></div>
	</div>

	<!-- 复制 -->
	<div class="layui-form-item zent-pop-inner" style="display:none" id="copy_path">
	    <div class="layui-inline">
		      <div class="layui-input-inline">
		          <input class="layui-input" type="text" id="path_file"  disabled>
		      </div>
		      <button class="layui-btn layui-btn-primary" onclick="JScopy()">复制</button>
		      <input type="text"  id="hidden_image_path" value="" style="top: -1000px;position: absolute;">
	    </div>
	</div>
	
	<!-- 修改分组 -->
    <div id="modify_group" class="group-portal" style="display:none">
       <div class="layui-form" >
		    <div class="layui-form-item">
				<p>选择分组</p>
                {volist name="category_list" id="vo"}
                <div class="layui-input-inline">
			        <input type="radio" name="oldGroup" value="{$vo.id}" title="{$vo.name}" lay-filter="example">
			    </div>
	            {/volist}
	            <input type="hidden" value="" id="hidden_category_id"/>
			</div>
	  </div>
    </div>
	
</div>
{/block}
{block name="script"}
<script src="ADDON_NC_FILE_JS/audio.js"></script>
{/block} 