<link rel="stylesheet" href="RESOURCE_PATH/component/view/notice/css/notice.css"/>
<div style="background-color:{$attr.backgroundColor};" class="notice-view hui-flex">
	<div class="img-wrap">
		{if condition="$attr.image_url"}
			{if condition="stristr($attr.image_url,'static') === false"}
				<img src="{:img($attr.image_url)}"/>
			{else/}
				<img src="{:img(__PUBLIC__.'/'.$attr.image_url)}"/>
			{/if}
		{else/}
		<img src="RESOURCE_PATH/component/view/notice/img/notice.png"  />
		{/if}
	</div>
	<div id="notice-{$attr['random_flag']}" class="hui-scroll-news">
		{volist name="$attr.list" id="item" key="k"}
		<div class="hui-scroll-news-items"><a href="{if condition="$item.link"}{:addon_url($item['link']['h5_url'])}{else/}javascript:;{/if}" style="color:{$attr.textColor};font-size:{$attr.fontSize}px;">{$item.title}</a></div>
		{if ($k+1)==count($attr.list)}
		<div class="hui-scroll-news-items"><a href="{if condition="$item.link"}{:addon_url($item['link']['h5_url'])}{else/}javascript:;{/if}" style="color:{$attr.textColor};font-size:{$attr.fontSize}px;">{$item.title}</a></div>
		{/if}
		{/volist}
	</div>
</div>
{if !empty($attr) && count($attr.list)>1}
<script>
hui.scrollNews("#notice-{$attr['random_flag']}", 5000);
</script>
{/if}