<style>
.text-navigation-h5-{$attr['random_flag']}{background:{$attr.backgroundColor};}
.text-navigation-h5-{$attr['random_flag']} .item{width:100%;text-align:center;line-height: 40px;height:40px;font-size: {$attr.fontSize}px;}
.text-navigation-h5-{$attr['random_flag']} .item a{display: block;}
</style>
<div id="text-navigation-h5-{$attr['random_flag']}" class="text-navigation-h5-{$attr['random_flag']}">
	{if condition="$attr.arrangement=='horizontal'"}
	<div>
		{foreach name="$attr.list" item="vo"}
		<div class="item">
			<a href="{if condition="$vo.link"}{:addon_url($vo['link']['h5_url'])}{else/}javascript:;{/if}" style="color: {$attr.textColor};">{$vo.text}</a>
		</div>
		{/foreach}
	</div>
	<script type="text/javascript">
		hui('#text-navigation-h5-{$attr["random_flag"]}').scrollX(3, '.item');
	</script>
	{else/}
	<div class="item" style="text-align:{$attr.textAlign};">
		<a href="{if condition="$attr.list[0]['link']"}{:addon_url($attr.list[0]['link']['h5_url'])}{else/}javascript:;{/if}" style="color: {$attr.textColor};">{$attr.list[0]['text']}</a>
	</div>
	{/if}
</div>