<nc-component v-bind:data="data[index]" class="cms-list">

	<!-- 预览 -->
	<template slot="preview">

		<div class="article-list-container">
			<div class="article-class-wrap clear">
				<ul>
					<li class="current">推荐</li>
					<li>文章分类</li>
					<li>文章分类</li>
					<li>文章分类</li>
				</ul>
			</div>
			<ul class="article-list">
				<a href="javascript:;">
					<li>
						<div class="avatar"><img src="__STATIC__/img/diy_view/diy_preview.png"></div>
						<div class="item-container">
							<span class="article-title">文章标题</span>
							<span class="article-respondent">作者名称 | 文章摘要</span>
							<span class="tag">文章分类</span>
							<span class="click-num">点击量156165</span>
						</div>
					</li>
				</a>
				<a href="javascript:;">
					<li>
						<div class="avatar"><img src="__STATIC__/img/diy_view/diy_preview.png"></div>
						<div class="item-container">
							<span class="article-title">文章标题</span>
							<span class="article-respondent">作者名称 | 文章摘要</span>
							<span class="tag">文章分类</span>
							<span class="click-num">点击量156165</span>
						</div>
					</li>
				</a>
				<a href="javascript:;">
					<li>
						<div class="avatar"><img src="__STATIC__/img/diy_view/diy_preview.png"></div>
						<div class="item-container">
							<span class="article-title">文章标题</span>
							<span class="article-respondent">作者名称 | 文章摘要</span>
							<span class="tag">文章分类</span>
							<span class="click-num">点击量156165</span>
						</div>
					</li>
				</a>
				<a href="javascript:;">
					<li>
						<div class="avatar"><img src="__STATIC__/img/diy_view/diy_preview.png"></div>
						<div class="item-container">
							<span class="article-title">文章标题</span>
							<span class="article-respondent">作者名称 | 文章摘要</span>
							<span class="tag">文章分类</span>
							<span class="click-num">点击量156165</span>
						</div>
					</li>
				</a>
			</ul>
		</div>

	</template>
	
	<!-- 编辑 -->
	<template slot="edit">
		
	</template>
	
	<!-- 资源 -->
	<template slot="resource">

		<css src="RESOURCE_PATH/component/view/article_list/css/design.css"></css>
		
	</template>
	
</nc-component>