{extend name="base"/}

{block name="resources"}
<style>
.backup-progress {width: 140px;height: 40px;background: #fff;position: fixed;top: 50%;left: 50%;transform: translate(-50%,-50%);box-shadow: 1px 1px 50px rgba(0,0,0,.3);padding: 10px 20px;line-height: 40px;}
.backup-progress .layui-icon{font-size: 25px;float: left;}
.backup-progress p{float: left;padding-left: 10px;white-space: nowrap;overflow:hidden;text-overflow: ellipsis;width: calc(100% - 35px);}
.layui-tab-content{padding-top: 0;}
</style>
{/block}

{block name='second_menu'}
{notempty name="$menu[2]"}
<ul class="layui-nav nc-nav">
	{foreach name="$menu[2]" item="second_menu"}
	<li class="layui-nav-item {$second_menu['selected']}">
		<a href="{$second_menu['url']}" {$second_menu['target']}>{$second_menu['title']}</a>
	</li>
	{/foreach}
</ul>
{/notempty}
{/block}
{block name='crumbs'}{/block}
{block name="main"}
<div class="layui-tab-content">
	<div class="layui-tab-item layui-show">
	<table class="layui-table" id="list" lay-filter="table"></table>
	</div>
</div>
<script type="text/html" id="operation">
	<a href="#" class="default" lay-event="recovery">恢复</a>
    <a href="#" class="default" lay-event="delete">删除</a>
</script>
<div class="backup-progress hide">
	<i class="layui-icon layui-icon-loading layui-anim layui-anim-rotate layui-anim-loop"></i>
	<p>备份恢复中...</p>
</div>
{/block}

{block name="script"}
<script src="ADMIN_JS/backup_list.js"></script>
{/block}
