{extend name="sitehome@style/base"/}
{block name="main"}
<div class="layui-form">

  <div class="layui-form-item">
    <label class="layui-form-label"><span class="required">*</span>API_ID</label>
    <div class="layui-input-inline">
      <input type="text" name="appid" required  lay-verify="required" placeholder="请输入API_ID" {notempty name="$config"}value="{$config['appid']}"{/notempty} autocomplete="off" class="layui-input nc-len-long">
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label" ><span class="required">*</span>PRIVATE_KEY</label>
    <div class="layui-input-inline">
      <input type="text" name="private_key" required  lay-verify="required" placeholder="请输入PRIVATE_KEY" {notempty name="$config"}value="{$config['private_key']}"{/notempty} autocomplete="off" class="layui-input nc-len-long">
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label"><span class="required">*</span>PUBLIC_KEY</label>
    <div class="layui-input-inline">
      <textarea name="public_key" required  lay-verify="required" placeholder="请输入密钥PUBLIC_KEY" autocomplete="off" class="layui-textarea nc-len-long">{notempty name="$config"}{$config['public_key']}{/notempty}</textarea>
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label"><span class="required">*</span>ALIPAY_PUBLIC_KEY</label>
    <div class="layui-input-inline">
      <textarea name="alipay_public_key" required  lay-verify="required" placeholder="请输入密钥ALIPAY_PUBLIC_KEY" autocomplete="off" class="layui-textarea nc-len-long">{notempty name="$config"}{$config['alipay_public_key']}{/notempty}</textarea>
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">是否启用支付</label>
    <div class="layui-input-block">
    	<input type="checkbox" required name="pay_status" value="1" lay-skin="switch" lay-filter="switchTest" {if condition='!empty($config) && $config.pay_status' eq 1}checked{/if}>
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">是否启用退款</label>
    <div class="layui-input-block">
      <input type="checkbox" required name="refund_is_use" value="1" lay-skin="switch" lay-filter="switchTest" {if condition='!empty($config) && $config.refund_is_use' eq 1}checked{/if}>
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label" >是否启用转账</label>
    <div class="layui-input-block">
      <input type="checkbox" required name="transfer_is_use" value="1" lay-skin="switch" lay-filter="switchTest" {if condition='!empty($config) && $config.transfer_is_use' eq 1}checked{/if}>
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label" >是否启用</label>
    <div class="layui-input-block">
      <input type="checkbox" required name="status" value="1" lay-skin="switch" lay-filter="switchTest" {if condition='$status' eq 1}checked{/if}>
    </div>
  </div>
  <div class="nc-form-row">
    <button class="layui-btn" lay-submit lay-filter="savePay">保存</button>
    <a href="javascript:history.back(-1);" class="layui-btn layui-btn-primary">返回</a>
  </div>
</div>

<script>
layui.use('form', function() {
	var form = layui.form;
	var repeat_flag = false;//防重复标识
	form.on('submit(savePay)', function (data) {
		var field = data.field;
		if (repeat_flag) return;
		repeat_flag = true;
		$.ajax({
			type: "post",
			url: '{:addon_url("PayAlipay://sitehome/payconfig/index")}',
			data: field,
			dataType: "JSON",
			success: function (res) {
				layer.msg(res.message);
				if (res.code != 0) {
					repeat_flag = false;
				}
				
			}
		});
	});
	
});

$("#resets").click(function(){
	$(":input[type='text']").attr('value', '');
	$(":input[type='checkbox']").prop('checked',false).removeAttr('checked');
});
</script>
{/block}