

.top-title {
    height: 40px;
    line-height: 40px;
    position: fixed;
    border-bottom: 1px solid #e7e7e7;
    width: 100%;
    z-index: 999;
    background: #FFF;
    color: #000000;
	top:0;
}
.top-title .go-back {
    position: absolute;
    height: 40px;
    width: 40px;
}
.top-title .go-back svg {
    width: 20px;
    fill: currentColor;
    height: 40px;
    margin-left: 10px;
}
.top-title h4 {
    text-align: center;
    font-weight: normal;
    margin: 0;
    line-height: inherit;
    font-size: 16px;
}


body{
	        font-size: 32px;
    font-size: .32rem;
}
.reward-list{
	margin-top:50px;
	padding:5px;
}

.reward-item{
    font-size: .24rem;
    padding: .2rem 0;
    margin: 0 .3rem;
    background: #f6f6f6;
    padding: .3rem 0;
	overflow:hidden;
}

.reward-user-img{
	width: .6rem;
    height: .6rem;
    border-radius: .6rem;
    overflow: hidden;
    margin-right: .18rem;
    float: left;
}
.reward-user-img img{
    width: 100%;
}
.reward-user-info{
	float:left;
	padding-left: .8rem;
}
.reward-user-name{
    display: block;
    color: #067ce3;
    font-size: .28rem;
}
.reward-user-time{
	display: block;
    color: #a2a2a2;
    font-size: .24rem;
    line-height: 180%;
}

.reward-from{
	padding-left: .8rem;
    margin: .45rem 0 .06rem;
}
.reward-title-from{
    color: #a2a2a2;
    font-size: .24rem;
    text-decoration: none;
}

.reward-list-more{
    text-align:center;
    color:#2780E3;
	padding:10px;
    font-size:12px;
}
.reward-list-more a{
    font-size:12px;
}
.clear-botn{
	clear:both;
}
.reward-money{
	float:right;
	height:38px;
	line-height:38px;
	margin-right:15px;
    color: #a2a2a2;
	font-size:19px;
}
