{extend name="wap@style/base" /}
{block name="resources"}{/block}
{block name="head"}{/block}
{block name="main"}
{if $is_wechat_browser && empty($access_token)}
	<script type="text/javascript">
		location.href = "{:addon_url('OAuthLogin://common/login/login', ['addon_name' => 'Wechat', 'redirect_url' =>urlencode(addon_url('niushop://wap/login/callback'))])}";
	</script>
{else/}
<style>
	body{
	background:{$global['bgColor']} {if $global['bgUrl']} url({:img($global['bgUrl'])}) no-repeat{/if};
}
</style>

	{$body}

{/if}
{/block}
{block name="bottom"}
{:hook("diyBottomNavFetch", ["openBottomNav"=>$global['openBottomNav']],[],true)}
{/block}
{block name="script"}{/block}