{extend name="base"/} 
{block name="main"}

<div class="main">
	<div class="pleft">
		<dl class="setpbox t1">
			<dt>安装步骤</dt>
			<dd>
				<ul>
					<li class="succeed">许可协议</li>
					<li class="now">环境检测</li>
					<li>参数配置</li>
					<li>正在安装</li>
					<li>安装完成</li>
				</ul>
			</dd>
		</dl>
	</div>
	<div class="pright">
		<div class="pr-title"><h3>服务器信息</h3></div>
		<table width="726" border="0" align="center" cellpadding="0" cellspacing="0" class="twbox">
			<tr>
				<th width="300" align="center"><strong>参数</strong></th>
				<th width="424"><strong>值</strong></th>
			</tr>
			<tr>
					<td><strong>服务器域名</strong></td>
					<td>{$name}</td>
			</tr>
			<tr>
					<td><strong>服务器操作系统</strong></td>
					<td>{$os}</td>
			</tr>
			<tr>
					<td><strong>服务器解译引擎</strong></td>
					<td>{$server}</td>
			</tr>
			<tr>
					<td><strong>PHP版本</strong></td>
					<td>{$phpv}</td>
			</tr>
			<tr>
					<td><strong>系统安装目录</strong></td>
					<td>{$root}</td>
			</tr>
		</table>
		<div class="pr-title"><h3>系统环境检测</h3></div>
		<div style="padding:2px 8px 0px; line-height:33px; height:23px; overflow:hidden; color:#666;">
			系统环境要求必须满足下列所有条件，否则系统或系统部份功能将无法使用。
		</div>
		<table width="726" border="0" align="center" cellpadding="0" cellspacing="0" class="twbox">
			<tr>
				<th width="200" align="center"><strong>需开启的变量或函数</strong></th>
				<th width="80"><strong>要求</strong></th>
				<th width="400"><strong>实际状态及建议</strong></th>
			</tr>
			<tr>
					<td>php版本</td>
					<td align="center">php5.6或5.6以上 </td>
					<td><font color={if $verison}green{else/}red{/if}>{$phpv}</font> </td>
			</tr>
			<tr>
					<td>curl</td>
					<td align="center">开启</td>
					<td><font {if $curl}color=green>[√]On{else/}color=red>[×]Off {/if}</font></td>
			</tr>
			<tr>
				<td>pdo</td>
				<td align="center">开启</td>
				<td><font {if $pdo}color=green>[√]On{else/}color=red>[×]Off {/if}</font></td>
			</tr>
			<tr>
				<td>openssl</td>
				<td align="center">开启</td>
				<td><font {if $openssl}color=green>[√]On{else/}color=red>[×]Off {/if}</font></td>
			</tr>
			<tr>
				<td>gd</td>
				<td align="center">开启</td>
				<td><font {if $gd}color=green>[√]On{else/}color=red>[×]Off {/if}</font></td>
			</tr>
			<tr>
				<td>file</td>
				<td align="center">开启</td>
				<td><font {if $fileinfo}color=green>[√]On{else/}color=red>[×]Off {/if}</font></td>
			</tr>
		</table>
		
		
		<div class="pr-title"><h3>目录权限检测</h3></div>
		<div style="padding:2px 8px 0px; line-height:33px; height:23px; overflow:hidden; color:#666;">
			系统要求必须满足下列所有的目录权限全部可读写的需求才能使用，其它应用目录可安装后在管理后台检测。
		</div>
		<table width="726" border="0" align="center" cellpadding="0" cellspacing="0" class="twbox">
			<tr>
				<th width="300" align="center"><strong>目录名</strong></th>
				<th width="212"><strong>读取权限</strong></th>
				<th width="212"><strong>写入权限</strong></th>
			</tr>
			{foreach $dirs as $k => $d}
			<tr>
				<td>{$d.path_name}</td>
				<td>
					<font {if is_readable($d.path)}color=#0d73f9>[√]{else/}color=red>[×]{/if}读</font>
				</td>
				<td>
					<font {if testWrite($d.path)}color=#0d73f9>[√]{else/}color=red>[×]{/if}写</font>
					{$wsta}
				</td>
			</tr>
			{/foreach}

		</table>
		
		<div class="btn-box">
			<input type="button" class="btn-back" value="后退" onclick="window.location.href = '{$root_url}/install.php/index/index?step=1';" />
			<input type="button" class="btn-next" value="继续" {if !$continue} style="background-color:#777;color:#FFF;"disabled="disabled"{/if} onclick="window.location.href = '{$root_url}/install.php/index/index?step=3';" />
		</div>
	</div>
</div>

<div class="foot"></div>
{/block}