{extend name="base"/}
{block name="main"}
<div class="main">
	<div class="pleft">
		<dl class="setpbox t1">
			<dt>安装步骤</dt>
			<dd>
				<ul>
					<li class="succeed">许可协议</li>
					<li class="succeed">环境检测</li>
					<li class="succeed">参数配置</li>
					<li class="succeed">正在安装</li>
					<li class="now">安装完成</li>
				</ul>
			</dd>
		</dl>
	</div>
	<div class="pright">
		<div class="pr-title"><h3>安装完成</h3></div>
		<div class="install-msg">恭喜您!已成功安装牛云系统.(建议删除安装目录install)您现在可以:</div>
		<div class="over-link fs-14">
			<!--<a href="{$root_url}/index.php" target="_blank">访问网站首页</a>-->
			<a href="{$root_url}/index.php/admin" target="_blank">登录网站后台</a>
		</div>
		<div class="install-msg">或者访问牛云网站:</div>
		<div class="over-link">
			<a href="https://www.niucloud.com" target="_blank">牛云官方网站</a>
			<a href="https://bbs.niucloud.com" target="_blank">牛云论坛</a>
		</div>
	</div>
</div>

<div class="foot"></div>
{/block}