<table class="layui-table" id="info_list" lay-filter="info_list" ></table>
<div class="nc-functional-block">
    <button class="layui-btn add_attribute" onclick="addLayer(0, '添加属性', '900px', '800px')";>添加属性</button>
</div>
<div class="layui-form">
    <table class="layui-table">
        <colgroup>
            <col width="20%">
            <col width="20%">
            <col width="20%">
            <col width="15">
            <col width="25%">
        </colgroup>
        <thead>
        <tr>
            <th><div class="layui-table-cell">名称</div></th>
            <th><div class="layui-table-cell">分类</div></th>
            <th><div class="layui-table-cell">排序</div></th>
            <th><div class="layui-table-cell">是否可搜索</div></th>
            <th><div class="layui-table-cell" style="text-align: right;">操作</div></th>
        </tr>
        </thead>
        <tbody class="layui-table-body">
        {foreach name="list['data']" item="vo" key="k"}
        <tr>
            <td>
                <div class="layui-table-cell">
                    <span>{$vo.name}</span>
                </div>
            </td>
            <td>
                <div class="layui-table-cell">
                    <span>{$vo.category_name}</span>
                </div>
            </td>
            <td>
                <div class="layui-table-cell">
                        <input type="text" name="sort"  lay-skin="switch" value="{$vo.sort}" lay-filter="sort" style="width:60px" onchange="updataSort({$vo.attribute_id},this)" class="sort layui-input">
                </div>
            </td>
            <!-- disabled class="layui-input layui-disabled" -->
            <td>
                <div class="layui-table-cell">
                    <input type="checkbox" name="screening_show"  lay-skin="switch" value="{$vo['attribute_id']}" lay-filter="screening_show"  {if $vo['screening_show'] == 1}checked{/if}>
                </div>
            </td>
            <td>
                <div class="layui-table-cell" style="text-align: right;">
<!--                            <a class="default"  href="javascript:;" onclick="location.href='{:addon_url('Sns://sitehome/info/editCategoryAttribute')}?attribute_id={$vo.attribute_id}'";>编辑</a>-->
                    <a class="default"  href="javascript:;" onclick="editLayer({$vo['attribute_id']}, '编辑属性', '900px', '800px')";>编辑</a>
                    <a class="default" href='javascript:edit({$vo|json_encode});' onclick="del({$vo['attribute_id']})">删除</a>
                </div>
            </td>
        </tr>
        {/foreach}
        </tbody>
    </table>
</div>