{extend name="wap@style/base"/}
{block name="resources"}
<link rel="stylesheet" href="ADDON_NC_WAP_ARTICLE_CSS/my_comment.css"/>
{/block}
{block name="head"}
<header class="hui-header">
    <div id="hui-back" onclick="window.history.back();"></div>
    <h1>我的评论</h1>
</header>
{/block}
{block name="main"}
<div class="comment-list">
	<div class="comment-ul">
	</div>
	<div class="comment-list-more" ><a onclick="loadList();">加载更多</a></div>
</div>

<script>
var page = 1;
$(function(){
    loadList();
});

/**
 * 加载评论
 */
function loadList() {
	var table = $('.comment-ul');
	nc.api("Article.Comment.getCommentPageList", {
		"page": page,
		"access_token": '{$access_token}'
	}, function (res) {
		var html = "";
		if (res.code == 0) {
			if (res.data.list.length > 0) {
				page++;
				for (i in res.data.list) {
					var item = res.data.list[i];
					
					html += '<section class="comment-item">';
					html += '<div class="comment-user-info">';
					html += '<span class="comment-user-name">' + item.nick_name + '</span>';
					html += '<span class="comment-user-time">' + nc.time_to_date(item.create_time) + '</span>';
					html += '<p class="comment-content">' + item.content + '</p>';
					html += '</div>';
					html += '<div class="comment-from">';
					html += '<a class="comment-title-from" href="' + nc.url('Article://wap/article/detail?article_id=' + item.article_id) + '">原文：' + item.title + '</a>';
					html += '</div>';
					html += '</section>';
				}
			} else {
				$(".comment-list-more a").remove();
				$(".comment-list-more").text("没有更多评论了！");
			}
		}
		table.append(html);
	}, false);
	
}
</script>
{/block}