{extend name="sitehome@style/base"/}
{block name="resources"}
<style>
    .msg-box{padding: 20px;background-color: #F2F2F2;height: 70px;transition: all 0.2s;}
    .msg-box:hover{background: #e5e5e5}
    .service-list li{float: left;width: 50%;color: #666;line-height: 20px;font-size: 12px;}
    .service-list li .layui-icon{font-size: 14px;margin-right: 4px;font-weight: 600;color: #999;}
    .clear{clear:both;}
    .title{margin-bottom: 10px;color: #333;font-size: 14px;}
    .service-list li{cursor:pointer}
</style>
{/block}
{block name="main"}
<div class="nc-quote-box">
	<blockquote class="layui-elem-quote layui-quote-nm">消息模板</blockquote>
    <div class="layui-card-body layui-col-space10">
        {foreach name="$list['data']" item="v"}
        <div class="layui-col-md4">
            <div class="msg-box">
                <div class="title">{$v['title']}</div>
                <ul class="service-list">
                    {if stripos($v["port"], "Sms") !== false }
                    <li onclick="window.location.href=nc.url('Message://sitehome/index/edit', {keyword : '{$v['keyword']}', 'addon_name' : 'Sms'})"><i class="layui-icon layui-icon-ok {eq name="$v['sms_is_open']" value="1"}select{/eq}"></i>短信消息</li>
                    {/if}
                    {if stripos($v["port"], "Email") !== false}
                    <li onclick="window.location.href=nc.url('Message://sitehome/index/edit', {keyword : '{$v['keyword']}', 'addon_name' : 'Email'})"><i class="layui-icon layui-icon-ok {eq name="$v['email_is_open']" value="1"}select{/eq}"></i>邮件消息</li>
                    {/if}
                    {if stripos($v["port"], "Wechat") !== false }
                    <li onclick="window.location.href=nc.url('Message://sitehome/index/edit', {keyword : '{$v['keyword']}', 'addon_name' : 'Wechat'})"><i class="layui-icon layui-icon-ok {eq name="$v['wechat_is_open']" value="1"}select{/eq}"></i>微信模板消息</li>
                    {/if}
                    <div class="clear"></div>
                </ul>
            </div>
        </div>
        {/foreach}
    </div>
</div>

{/block}
{block name="script"}
{/block}