@charset "utf-8";

.reward .reward-icon{
	margin:6px 30px;
	text-align:center;
}
.reward .reward-icon img{
	display:inline-block;
	width:48px;
}
.reward .reward-name{
	margin:3px 30px;
	text-align:center;
	color: #333;
	font-size:12px;
}
.reward .reward-name span{
	display:inline-block;
}