<nc-component v-bind:data="data[index]" class="member-account">

	<!-- 预览 -->
	<template slot="preview">

		<ul class="preview-list">
			<li class="preview-item">
				<span>积分</span>
				<span>0.00</span>
			</li>
			<li class="preview-item">
				<span>余额</span>
				<span>0.00</span>
			</li>
		</ul>

	</template>
	
	<!-- 编辑 -->
	<template slot="edit">
		
	</template>
	
	<!-- 资源 -->
	<template slot="resource">

		<css src="RESOURCE_PATH/component/view/member_account/css/design.css"></css>
		
	</template>
	
</nc-component>