{extend name='admin@base' /}

{block name='crumbs'}
<span class="layui-breadcrumb" {empty name="$crumbs[1]" }style="display:none;" {/empty}>
	{if $crumbs[2]['title'] }
	<a href="{:addon_url($crumbs[0]['url'])}">{$crumbs[0]['title']}</a>
	<a href="{:addon_url($crumbs[1]['url'])}">{$crumbs[1]['title']}</a>
	<a href="{:addon_url($crumbs[1]['url'])}">{$crumbs[2]['title']}</a>
	<a><cite>{$crumbs[3]['title']}</cite></a>
	{else/}
	<a href="{:addon_url($crumbs[0]['url'])}">{$crumbs[0]['title']}</a>
	<a><cite>{$crumbs[1]['title']}</cite></a>
	{/if}
</span>
{/block}
{block name="main"}
<div class="layui-form">
    <div class="layui-form-item">
        <label class="layui-form-label"><span class="required">*</span>CorpID</label>
        <div class="layui-input-inline">
            <input type="text" name="corp_id" lay-verify="CorpID" placeholder="请输入账号" value="{$info['corp_id']}" autocomplete="off" class="layui-input nc-len-mid">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label"><span class="required">*</span>Pwd</label>
        <div class="layui-input-inline">
            <input type="text" name="pwd" lay-verify="Pwd" placeholder="请输入密码" value="{$info['pwd']}" autocomplete="off" class="layui-input nc-len-mid">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label"><span class="required">*</span>短信内容签名</label>
        <div class="layui-input-inline">
            <input type="text" name="signature" lay-verify="signature" placeholder="请输入内容签名" value="{$info['signature']}" autocomplete="off" class="layui-input nc-len-mid">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">启用</label>
        <div class="layui-input-block">
        	{if condition="$info && $info['switch'] eq on"}
            <input type="checkbox" name="switch" lay-skin="switch" lay-filter="switchTest" checked>
            {else}
            <input type="checkbox" name="switch" lay-skin="switch" lay-filter="switchTest">
            {/if}
        </div>
    </div>
    <div class="nc-form-row">
        <button class="layui-btn" lay-submit lay-filter="saveSms">保存</button>
        <a href="javascript:history.back(-1);" class="layui-btn layui-btn-primary">返回</a>
    </div>
</div>
{/block}
{block name="script"}
<script src="ADDON_SMS_NIUCLUD_JS/config.js"></script>
{/block}