{php}
$article_id = input('article_id', 0);
$article_detail = api("Article.Article.getArticleDetail",['article_id'=>$article_id]);
{/php}

<link rel="stylesheet" href="RESOURCE_PATH/component/view/article_reward/css/article_reward.css?time={:time()}"/>
<!-- 赞赏 -->
<div class="reward">
    <div class="reward-icon">
    	<img src="RESOURCE_PATH/component/view/article_reward/img/reward.png"/>
    </div>
    <div class="reward-name">
    	<span>打赏作者</span>
    </div>
</div>

<script>
$(".reward-name,.reward-icon img").click(function(){
    location.href = nc.url("article://wap/reward/reward", {"article_id" : "{$article_id}"});
})
</script>
