<link rel="stylesheet" href="RESOURCE_PATH/component/view/bottom_menu/css/bottom_menu.css"/>
<div style="height: 60px;"></div>
<div class="bottom-menu" style="background-color:{$attr.backgroundColor};">
	<ul>
	{volist name="attr.list" id="item"}
		<li style="width:{php}echo 100/count($attr['list']);{/php}%;">
			<a href="{:addon_url($item.link.h5_url)}">
			{if condition="($attr.bottomMenuType == 1 || $attr.bottomMenuType == 2) && $item.imageUrl"}
			    <div>
					{if condition="stristr($item.imageUrl,'static') === false"}
        			<img src="{:img($item.imageUrl)}"/>
					{else/}
					<img src="{:img(__PUBLIC__.'/'.$item.imageUrl)}"/>
					{/if}
		    	</div>
			{/if}
			{if condition="$attr.bottomMenuType == 1 || $attr.bottomMenuType == 3"}
			<span style="font-size:{$attr.fontSize}px;color:{$attr.textColor};">{$item.title}</span>
			{/if}
			</a>
		</li>
	{/volist}
	</ul>
</div>