<div style="margin:0;padding:10px;background:{$attr.backgroundColor}">
	{if condition="$attr.title"}
	<h4 style="font-size:{$attr.fontSize}px;margin:0;font-weight: normal;text-align:{$attr.textAlign};">
		<a href="{if condition="$attr.link"}{:addon_url($attr['link']['h5_url'])}{else/}javascript:;{/if}" style="color:#000;display:block;">{$attr.title}</a>
	</h4>
	{/if}
	{if condition="$attr.subTitle"}
	<p style="margin:10px 0 0;text-align:{$attr.textAlign};font-size:{$attr.fontSize-4}px">
		<a href="{if condition="$attr.link"}{:addon_url($attr['link']['h5_url'])}{else/}javascript:;{/if}" style="color:#8f8f94;display:block;">{$attr.subTitle}</a>
	</p>
	{/if}
</div>