{extend name="sitehome@style/base" /}
{block name="resources"}
<link rel="stylesheet" type="text/css" href="SITEHOME_CSS/survey.css">
{/block}
{block name="main"}
<div class="app"> 
    <div class="survey-dashboard-header">
         <div class="survey-dashboard-header-logo">
             <a href="" style="background-image: url(&quot;https://img.yzcdn.cn/upload_files/2018/09/15/Fkx5CUb8ERy9W50bnm84hwXy8Fgj.jpg?imageView2/2/w/145/h/145/q/75/format/webp&quot;);">
             	<i class="survey-dashboard-header-update hide">修改</i>
             </a>
         </div>
         <div class="survey-dashboard-header-right-info">
             <div>
	             <div class="survey-dashboard-header-right-title">正在开发中</div>
	             <div class="survey-dashboard-header-right-guarantee">牛云担保</div>
             </div>
             <div>
             	  <div style="display: inline-block;">
             	  	  <div class="survey-dashboard-header-certify-icon">
             	  		<i class="layui-icon">&#x1005;</i>个人认证
             	  	  </div>
             	  </div>
             	  <div style="display: inline-block;">
             	  	  <div class="survey-dashboard-header-certify-icon">
             	  		<i class="layui-icon">&#x1005;</i>担保交易
             	  	  </div>
             	  </div>
             	  <div style="display: inline-block;">
             	  	  <div class="survey-dashboard-header-certify-icon">
             	  		<i class="layui-icon">&#x1005;</i>线下门店
             	  	  </div>
             	  </div>
             </div>
         </div>
    </div>
    <div class="survey-dashboard-overview">
        <div class="layui-row">
		    <div class="layui-col-md2 survey-dashboard-overview-grid">
		         <div class="survey-dashboard-overview-value">0</div>
		         <div class="survey-dashboard-overview-title">昨日浏览量</div>
		    </div>
		    <div class="layui-col-md2 survey-dashboard-overview-grid">
		         <div class="survey-dashboard-overview-value">0</div>
		         <div class="survey-dashboard-overview-title">昨日访客数</div>
		    </div>
		    <div class="layui-col-md2 survey-dashboard-overview-grid">
		         <div class="survey-dashboard-overview-value">0</div>
		         <div class="survey-dashboard-overview-title">昨日商品浏览量</div>
		    </div>
		    <div class="layui-col-md2 survey-dashboard-overview-grid">
		         <div class="survey-dashboard-overview-value">0</div>
		         <div class="survey-dashboard-overview-title">昨日商品访客数</div>
		    </div>
		    <div class="layui-col-md2 survey-dashboard-overview-grid">
		         <div class="survey-dashboard-overview-value">0</div>
		         <div class="survey-dashboard-overview-title">微页面</div>
		    </div>
		    <div class="layui-col-md2 survey-dashboard-overview-grid">
		         <div class="survey-dashboard-overview-value">0</div>
		         <div class="survey-dashboard-overview-title">商品</div>
		    </div>
		  </div>
    </div>
    <div class="survey-dashboard-flow">
    	<div class="survey-dashboard-flow-header">
	    	<div class="survey-dashboard-flow-header-left">
	    		<h3>流量趋势</h3>
	    	</div>
	    
	    	<div class="survey-dashboard-flow-header--right">
	    		<a href="" target="_blank" rel="noopener noreferrer">详细》</a>
	    	</div>
    	</div>
    </div>

</div>
{/block}