<link rel="stylesheet" href="RESOURCE_PATH/component/view/pop_window/css/pop_window.css"/>
<div class="pop-window-box">
	<a href="{:addon_url($attr.link.h5_url)}">
		{if condition="stristr($attr.image_url,'static') === false"}
		<img src="{:img($attr.image_url)}" class="pop-window-image"/>
		{else/}
		<img src="{:img(__PUBLIC__.'/'.$attr.image_url)}" class="pop-window-image"/>
		{/if}
	</a>
	<img src="RESOURCE_PATH/component/view/pop_window/img/icon-close.png" class="pop-window-close"/>
</div>

<script>
var mask_layer_promotion = new MaskLayer(".pop-window-box");
mask_layer_promotion.show();
$(".pop-window-close").click(function(){
	$(".pop-window-box").hide();
	mask_layer_promotion.hide();
})
</script>