.layui-card.statistical .layui-card-body>ul{display: flex;margin-bottom: 30px;}
.layui-card.statistical .layui-card-body>ul li{flex: 1;text-align: center;}
.layui-card.statistical .layui-card-body>ul li label{padding: 20px;display: block;}
.layui-card.statistical .layui-card-body>ul li div{}
.layui-card.statistical .layui-card-body>ul li div .curr{font-size: 26px;}
.layui-card.notice .layui-card-body>ul{}
.layui-card.notice .layui-card-body>ul li{padding: 5px 0;}
.layui-card.notice .layui-card-body>ul li a{display: block;}
.layui-card.notice .layui-card-body>ul li a span{float: right;}
.layui-card-header{border: none;}
