.layui-breadcrumb{background-color: #fff;}
.nc-container{ min-height: initial;}
.create-progress{padding: 30px 0 10px;height: 90px;background-color: #fff;}
.create-progress-wrap{display: flex;width: 795px;height: 100%;margin: auto;align-content: center;align-items: center;color: #999;}
.create-progress .progress-point:nth-child(1) span{background-color: #12b7f5;color: #fff;}
.create-progress .progress-bar{position: relative;height: 8px;width: 325px;}
.create-progress .progress-point span{display: inline-block;width: 30px;height: 30px;margin-bottom: 5px;line-height: 30px;text-align: center;background-color: #f9f9f9;-webkit-border-radius: 50%;-moz-border-radius: 50%;border-radius: 50%;}
.create-progress .progress-point:nth-child(1) p{color: #12b7f5;}
.create-progress .progress-bar div{position: absolute;height: 8px;width: 355px;top: -12px;left: -16px;background-color: #f9f9f9;}
.create-site{background-color: #fff;padding: 0 50px 50px;color: #333;box-sizing: border-box;}
.create-site-end{display: none;padding-top: 150px;padding-bottom: 150px;background-color: #fff;}
.create-site-end-wrap{width: 500px;margin: auto;text-align: center;}
.create-site-pic-two{display: none;}
.create-progress-bar{margin-top: 25px;margin-bottom: 25px;height: 10px;background-color: #f5f5f5;}
.create-progress-bar .layui-progress-bar{height: 10px;}
.create-progress-bar .layui-progress-text,.create-site-content-one{display: none;}
.create-site-content-one{display: none;margin-top: 20px;margin-bottom: 20px;font-size: 25px;color: #666;}
.create-site-content-btn{display: none;padding: 10px 28px;text-align: center;color: #fff !important;margin-top: 10px;border-radius: 3px;}
.create-progress .progress-point{position: relative;z-index: 3;text-align: center;}
.el-site-type{height: 36px; line-height: 36px;}
.nc-item-block .nc-content-title .nc-content-desc{max-width: 200px;}
.layui-btn.layui-btn-primary.nc-item-btn{padding: 0 7px;}
