body {
  color: #333;
}
.nc-bg-color {
  background-color: #12b7f5 !important;
}
.nc-bg-color-black {
  background-color: #333 !important;
}
.nc-bg-color-gray {
  background-color: #e5e5e5 !important;
}
.nc-bg-color-f9f9f9 {
  background-color: #f9f9f9 !important;
}
.layui-body {
  background-color: #f9f9f9 !important;
}
.layui-form-select dl dd.layui-this {
  background-color: #12b7f5 !important;
}
.template-list li:hover .theme,
.template-list li.selected .theme,
.template-list li .theme {
  background-color: #12b7f5 !important;
}
.nc-text-color {
  color: #12b7f5 !important;
}
.nc-text-color-black {
  color: #333 !important;
}
.nc-text-color-c7c7c7 {
  color: #c7c7c7 !important;
}
.layui-tab-brief > .layui-tab-title .layui-this,
.layui-tab-brief > .layui-tab-title .layui-this > a {
  color: #12b7f5 !important;
}
.upload-img-box {
  color: #c7c7c7 !important;
}
.attachment-container .layui-col-md2 a,
.search-wrap .sort-wrap dl dd.selected a {
  color: #12b7f5 !important;
}
.graphic-navigation .add-item,
.image-ads .add-item p {
  color: #12b7f5 !important;
}
.edit-attribute .bottom-menu-config .add-item,
.notice .add-item {
  color: #12b7f5 !important;
}
.layui-tab-brief .layui-this a:after {
  border-color: #12b7f5;
}
.nc-border-color {
  border-color: #12b7f5 !important;
}
.nc-border-color-selected:hover,
.nc-border-color-selected.selected {
  border-color: #12b7f5 !important;
}
.nc-border-color-gray {
  border-color: #e5e5e5 !important;
}
.layui-table td,
.layui-table th,
.layui-table-fixed-r,
.layui-table-header,
.layui-table-page,
.layui-table-tips-main,
.layui-table-tool,
.layui-table-view,
.layui-table[lay-skin=line],
.layui-table[lay-skin=row] {
  border-color: #e5e5e5 !important;
}
.layui-tab-brief > .layui-tab-more li.layui-this:after,
.layui-tab-brief > .layui-tab-title .layui-this:after {
  border-bottom-color: #12b7f5 !important;
}
.second-level-triangle:after {
  border-left-color: #7f7f7f !important;
  border-top-color: #7f7f7f !important;
}
.draggable-element.selected,
.draggable-element:hover {
  border-color: #12b7f5 !important;
}
/******************** 一级菜单 *******************/
.layui-nav-itemed > .layui-nav-child {
  background-color: #444 !important;
}
.layui-children-menu a {
  color: #333 !important;
}
.layui-layout-admin .layui-top-menu .layui-first-menu .layui-nav-child dd.layui-this {
  background: #12b7f5 !important;
}
.layui-nav .layui-nav-child dd.layui-this a,
.layui-layout-admin .layui-nav-tree.layui-children-menu .layui-nav-item.layui-this > a {
  background: #f2f2f2;
}
.layui-btn {
  background-color: #12b7f5 !important;
}
.layui-btn.layui-btn-primary {
  border-color: #e5e5e5 !important;
  color: #333 !important;
}
.layui-form-onswitch {
  background-color: #12b7f5 !important;
}
.layui-laypage button,
.layui-laypage input {
  background-color: #fff !important;
}
.layui-form-select dl dd.layui-this {
  background-color: #12b7f5 !important;
}
.layui-form-radio > i:hover,
.layui-form-radioed > i {
  color: #12b7f5 !important;
}
.required {
  color: red;
}
.layui-table tbody tr:hover,
.layui-table thead tr,
.layui-table-click,
.layui-table-header,
.layui-table-hover,
.layui-table-mend,
.layui-table-patch,
.layui-table-tool,
.layui-table-total,
.layui-table-total tr,
.layui-table[lay-even] tr:nth-child(even) {
  background-color: #fafafa !important;
}
.layui-table td,
.layui-table th {
  border-bottom-color: #e5e5e5 !important;
}
.layui-form-checked[lay-skin=primary] i {
  background-color: #12b7f5 !important;
  border-color: #12b7f5 !important;
}
.layui-table-box .operation {
  background-color: red;
}
.layui-laypage .layui-laypage-curr .layui-laypage-em {
  background-color: #12b7f5 !important;
}
.layui-laypage input:focus,
.layui-laypage select:focus {
  border-color: #12b7f5 !important;
}
.layui-elem-quote {
  border-color: #12b7f5 !important;
}
.nc-user-info .user-dropdown-select a:hover {
  background-color: #12b7f5 !important;
}
.layui-nav .layui-nav-mored,
.layui-nav-itemed > a .layui-nav-more {
  border-color: transparent transparent #737373;
}
.layui-nav .layui-nav-more {
  border-color: #737373 transparent transparent;
}
.wx-menu-item.active,
.wx-sub-menu-item.active {
  border-color: #12b7f5 !important;
  color: #12b7f5;
}
/*# sourceMappingURL=theme.css.map */